<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Page description" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="../public/assets/apple-icon-180x180.png" rel="apple-touch-icon">
    <link href="../public/assets/favicon.ico" rel="icon">
    <title>Spring Fashion</title>  
    <link href="./main.82cfd66e.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
</head>
<body>

<header class="">
    <div class="navbar navbar-default visible-xs">
        <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">More</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a href="./index.html" class="navbar-brand">Spring Fashion</a>
    </div>

    <nav class="sidebar">
        <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
            <a class="site-brand" href="./index.html" title="">
                <img class="img-responsive site-logo" alt="" src="./assets/images/mashup-logo.svg">
                Spring Fashion
            </a>
            <p>Your one stop shop for all your fashion needs</p>
        </div>
        <ul class="nav">
            <li><a href="./index.html" title="">Home</a></li>
            <li><a href="./about.html" title="">About</a></li>
            <li><a href="collection" title="">Our Collection</a></li>
            <li><a href="logout" title="">Logout</a></li>
            <li><a href="usercart" title="">Your Cart</a></li>
            <li><a href="pastorders" title="">Past Orders</a></li>
        </ul>

        <nav class="nav-footer">
            <p class="nav-footer-social-buttons">
            <a class="fa-icon" href="https://www.instagram.com/" title="">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="fa-icon" href="https://dribbble.com/" title="">
                <i class="fa fa-dribbble"></i>
            </a>
            <a class="fa-icon" href="https://twitter.com/" title="">
                <i class="fa fa-twitter"></i>
            </a>
            </p>
            <p><a href="https://github.com/sxfiy-a/DBMS-Project">© Spring Fashion</a></p>
        </nav>  
        </div> 
    </nav>
</header>

<main class="" id="main-collapse"> 
    <div class="hero-full-wrapper">
        <div class="grid">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
        </div>
    </div>
    <h1>@<%= res %>, RECEIPT FOR ORDER ON <%= result.rows[0]['order_date'] %> </h1>
    <h4>Receipt Number: <%= result.rows[0]['bill_id'] %></h4>
    <table style="width: 100%; height: 100%; text-align:center; font-size: large;">
        <tr>
            <td>SL NO</td>
            <td>Clothing name</td>
            <td>Category</td>
            <td>Description</td>
            <td>Seller</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total Price</td>
        </tr>
        <% for(var i = 0;i < result.rows.length; i++){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= result.rows[i]["clothing_name"] %>
                </td>
                <td>
                    <%= result.rows[i]["category"] %> 
                </td>
                <td>
                    <%= result.rows[i]["description"] %>
                </td>
                <td>
                    <%= result.rows[i]["seller"] %>
                </td>
                <td>
                    <%= result.rows[i]["price"] %>
                </td>
                <td>
                    <%= result.rows[i]["quantity"] %>
                </td>
                <td>
                    <%= result.rows[i]["total"] %>
                </td>
            </tr>
        <% } %>
    </table>
<h4 style="display: flex; justify-content: center; align-items: center;">TOTAL = <%= result.rows[0]['total_cost'] %></h4>
<h4>Order Date: <%= result.rows[0]['order_date'] %></h4>
<h4>Delivery Date: <%= result.rows[0]['delivery_date'] %>*</h4>
<h5>*Delivery dates might vary due to the ongoing pandemic situation</h5>
<div style="display: flex; justify-content: center; align-items: center;">
    <a href="collection" style="text-decoration: none;"><button class="push_button blue">Shop More</button></a>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <a href="pastorders" style="text-decoration: none;"><button class="push_button blue">Back</button></a>
</div>

</div>
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        masonryBuild();
    });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
    navbarToggleSidebar();
    navActivePage();
    });
    </script>
    <script type="text/javascript">
    function select(x){
        document.getElementById("selection").value = x ;
    }
    </script>
    <script type="text/javascript" src="./main.85741bff.js"></script>
</main>
</body>

</html>